@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
.background-image {
  background-image: url("https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.header {
  padding: 20px 0;
  width: 100%;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
}

.header ul {
  list-style: none;
  display: flex;
}
.header ul a {
  text-decoration: none;
}
.header ul a li {
  font-size: 1.1rem;
  margin-left: 20px;
  color: white;
  transition: position 0.3s ease;
}
.header ul a li:hover {
  position: relative;
  left: 3px;
}
.animation {
  position: relative;
  left: -500px;
}
.name {
  font-size: 3rem;
  color: gray;
  margin: 0;
  letter-spacing: 3px;
  position: relative;
  left: 0;
  transition: position 1s ease;
}
.motto {
  color: gray;
  font-size: 1.2rem;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 10px 20px;
  border: none;
  font-size: 1.1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in;
  transition: color 0.3s ease-in;
  margin-top: 20px;
}

.primary-btn {
  background-color: gray;
  color: white;
  margin-left: 5px;
}
.secondary-btn {
  border: 1px solid gray;
  background-color: transparent;
  color: black;
}
.primary-btn:hover {
  background-color: transparent;
  color: black;
  border: 1px solid gray;
}
.secondary-btn:hover {
  background-color: gray;
  color: white;
}
/* New Skills section added */
.skills-section {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  align-items: center;
}
.skills-section h2 {
  font-weight: 500;
  margin-top: 10px;
  color: black;
  font-size: 1.6rem;
}
.skills-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
  background-color: whitesmoke;
  gap: 5px;
}
.skills-box h2 {
  width: 100%;
}
.underLine {
  height: 3px;
  width: 70px;
  background-color: #0e4eb5;
  margin-top: 4px;
}
.item {
  min-width: 100px;
  min-height: 100px;
  background-color: #fefbff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.5s ease-in-out;
}
.item:hover {
  transform: scale(1.2);
}
.item i {
  font-size: 2rem;
  color: #0e4eb5;
}
.item p {
  font-weight: 500;
}
/* Till Here! */
h3 {
  margin-top: 20px;
  color: lightgray;
}
.projects {
  height: 60vh;
  background-color: lightgray;
  padding: 25px;
}
.projects h2 {
  padding: 10px 0;
  color: gray;
  letter-spacing: 3px;
}
.card {
  width: 300px;
  background-color: gray;
  padding: 10px;
  color: whitesmoke;
  border-radius: 10px;
  margin-top: 10px;
}
.card img {
  border-radius: 10px 10px 0 0;
}
.card h4,
p {
  margin-top: 10px;
}
footer {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 10px 0;
}
